<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PriorityDemo">
  <test thread-count="5" name="PriorityExecutionTest">
    <classes>
      <class name="xmlDemo.PriorityDemo"/>
      <class name="xmlDemo.RunTestcaseswithXMLfile"/>
    </classes>
  </test> <!-- PriorityExecutionTest -->
</suite> <!-- PriorityDemo -->
